Cricket Live Score Bot.json
{
  "name": "Cricket Live Score Bot",
  "nodes": [
    {
      "parameters": {
        "url": "https://cricbuzz-cricket.p.rapidapi.com/matches/v1/live",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-rapidapi-host",
              "value": "cricbuzz-cricket.p.rapidapi.com"
            },
            {
              "name": "x-rapidapi-key",
              "value": "4ccf62feb6msh53bb734d6f3cd3dp15ffedjsnd28129f18a43"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {}
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        208,
        0
      ],
      "id": "2f018398-720c-40e3-a3c0-c5702bdbf055",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "jsCode": "return [\n  {\n    matchId: $json.typeMatches[0].seriesMatches[0].seriesAdWrapper.matches[0].matchInfo.matchId,\n    seriesName: $json.typeMatches[0].seriesMatches[0].seriesAdWrapper.seriesName,\n    matchDesc: $json.typeMatches[0].seriesMatches[0].seriesAdWrapper.matches[0].matchInfo.matchDesc\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        416,
        0
      ],
      "id": "fd1b79ed-7ff1-4109-b8d7-3fa894783cb5",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "url": "=https://cricbuzz-cricket.p.rapidapi.com/mcenter/v1/{{$json.matchId}}/hscard",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-rapidapi-host",
              "value": "cricbuzz-cricket.p.rapidapi.com"
            },
            {
              "name": "x-rapidapi-key",
              "value": "4ccf62feb6msh53bb734d6f3cd3dp15ffedjsnd28129f18a43"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {}
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        624,
        0
      ],
      "id": "a9a563c1-5273-449b-b4f8-bf6ab07091a6",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "jsCode": "return [\n{\n  batsman: $json.scorecard[0].batsman[0].name,\n  runs: $json.scorecard[0].batsman[0].runs,\n  balls: $json.scorecard[0].batsman[0].balls,\n  strikeRate: $json.scorecard[0].batsman[0].strkrate\n}\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        832,
        0
      ],
      "id": "f35f963e-b31e-48bf-9d3e-77a4eec59896",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "chatId": "6161320987",
        "text": "=🏏 Live Match\n\nBatsman: {{$json.batsman}}\n\nRuns: {{$json.runs}}\n\nBalls: {{$json.balls}}\n\nStrike Rate: {{$json.strikeRate}}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1040,
        0
      ],
      "id": "e9d555d5-1e1d-453c-8192-fd1d73b92966",
      "name": "Send a text message",
      "webhookId": "ca131a6b-f275-46b2-90fe-0e0d32272908",
      "credentials": {
        "telegramApi": {
          "id": "TFb5JtAx9JPUfPaP",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -16,
        0
      ],
      "id": "92089dc8-5b2c-4b7c-99f7-8d432e02fe44",
      "name": "Schedule Trigger"
    }
  ],
  "pinData": {},
  "connections": {
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a text message": {
      "main": [
        []
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "4b18a17a-c9d6-4a43-9efe-d93f68691785",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "bb5c9a74c274ef22b91caa460358da0f67fac9847cfe06d1df1c28ccfe805b5e"
  },
  "id": "hA5wv6aAVmG5Ra0t",
  "tags": []
}